
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.pnp.js
.vercel
*.pem
/.next/
/.pnp
/build
/coverage
/node_modules
/out/
# debug
# dependencies
# local env files
# misc
# next.js
# production
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# testing
# vercel
npm-debug.log*
yarn-debug.log*
.history
.vscode
.build
/build
.next/









